[Unit]
Description=Mnemostroma Watchdog
After=mnemostroma-daemon.service mnemostroma-proxy.service
Wants=mnemostroma-daemon.service mnemostroma-proxy.service

[Service]
Type=simple

WorkingDirectory=%h/.mnemostroma
ExecStart=%h/.mnemostroma/venv/bin/python3 -m mnemostroma.watchdog

Restart=on-failure
RestartSec=3
TimeoutStopSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=mnemostroma-watchdog


[Install]
WantedBy=default.target
