[Unit]
Description=Mnemostroma Daemon (Conductor)
After=network.target
Wants=mnemostroma-proxy.service mnemostroma-watchdog.service

[Service]
Type=simple

WorkingDirectory=%h/.mnemostroma
ExecStart=%h/.mnemostroma/venv/bin/python3 -m mnemostroma run
ExecReload=/bin/kill -HUP $MAINPID

Restart=always
RestartSec=1
MemoryMax=750M

WatchdogSec=6
TimeoutStartSec=60
TimeoutStopSec=10


StandardOutput=journal
StandardError=journal
SyslogIdentifier=mnemostroma-daemon


[Install]
WantedBy=default.target
