<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mnemostroma.proxy</string>
  <key>ProgramArguments</key>
  <array>
    <string>%VENV_BIN%/python3</string>
    <string>-m</string>
    <string>mnemostroma.integration.http_proxy</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>MNEMOSTROMA_DIR</key>
    <string>%HOME%/.mnemostroma</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>%HOME%/.mnemostroma/proxy.log</string>
  <key>StandardErrorPath</key>
  <string>%HOME%/.mnemostroma/proxy.log</string>
</dict>
</plist>
